---
  #Ansible script to build GenomeSpace and start Virgo server
  #
  # Author: Madison Flannery

  #Build GenomeSpace code using mvn command
  #Change directory to /src/combined first
  #Store the stdout for debugging purposes
  - name: "Building GenomeSpace"
    command: mvn clean install -PdeployLocal -Dmaven.test.skip=true -DskipTests
    args:
      chdir: /mnt/genomespace/SRC/combined/
    environment: "{{ gs_env }}"
    register: out
    become: yes

  #Manually need to start virgo server - cd /mnt/genomespace/DEVDEPLOY/virgo/bin && ./startup.sh
  #Then you need to go to admin console 


...
