---
  #Ansible script to build GenomeSpace and start Virgo server
  #NOTE: THIS IS BROKEN! :(
  #
  # Author: Madison Flannery

  #Build GenomeSpace code using mvn command
  #Change directory to /src/combined first
  #Store the stdout for debugging purposes

  - name: "Building GenomeSpace properties modules"
    command: mvn install -pl jsui-properties,atm-properties,identityServer-properties,dm-webservice-properties,dm-jobs-properties -Denv-properties-file=/home/ubuntu/genomespace/env-dev.properties
    args:
      chdir: "{{ gs_src_directory }}"
    environment: "{{ gs_env }}"
    register: out
    become: yes

  - name: "Building GenomeSpace"
    command: mvn clean install  -am -DskipTests -Denv-properties-file=/home/ubuntu/genomespace/env-dev.properties -P deployToLocalTomcat -Dmaven.test.skip=true
    args:
      chdir: "{{ gs_src_directory }}"
    environment: "{{ gs_env }}"
    register: out
    become: yes

...
