---
  #change all URLs based on var
  #use find module to get list of files
  - find: paths="/mnt/genomespace/SRC/combined/" recurse=yes contains=".*gs-test3\.ddns\.net.*" pattern=".*\.(?!class)" use_regex=True
    register: gsfiles

  #replace all instances of string
  - replace: dest={{ item.path }} regexp="put-url-here" replace="{{ gs_url }}"
    with_items: "{{ gsfiles.files }}"
    become: yes

  #configure SSL certificate
  - copy: src="files/{{ ssl_cert_filename }}" dest=/mnt/genomespace/DEVDEPLOY/virgo/config/ owner=ubuntu mode=0600
    become: yes

  #TODO: SHOULD THIS BE REMOVED LATER??
  #Delete existing cert in keystore
  - command: keytool -delete -alias tomcat -keystore $JAVA_HOME/jre/lib/security/cacerts -storepass changeit
    become: yes
    environment: "{{ gs_env }}"
    ignore_errors: yes

  #Import SSL certificate into Java keystore
  - name: "Import cert into keystore"
    command: keytool -import -alias tomcat -file /mnt/genomespace/DEVDEPLOY/virgo/config/tomcat.cer -storepass changeit -keystore $JAVA_HOME/jre/lib/security/cacerts -noprompt
    become: yes
    environment: "{{ gs_env }}"

  #generate genomespace secret key
  - name: "Generate GenomeSpace secret key file and move to correct place"
    shell: /home/ubuntu/genomespace/gensecretkey/gengssecretkey.sh
    args:
      creates: genomespace-secret.key
    environment: "{{ gs_env }}"

  - command: mv /home/ubuntu/genomespace-secret.key ~/genomespace/

  #copy tomcat server config
  - copy: src=files/tomcat-server.xml dest=/mnt/genomespace/DEVDEPLOY/virgo/config/ owner=ubuntu
    become: yes

  #set AWS Credentials in genomespace-aws.properties file
  - name: Copy the AWS credentials file to home directory
    template: src=genomespace-aws-properties.j2 dest="/home/ubuntu/genomespace/genomespace-aws.properties"

  - name: "Create and copy dm-webservice server.properties file"
    template: src=dmwebservice_server_properties.j2 dest="/mnt/genomespace/SRC/combined/dm-webservice-properties/src/main/resources/server.properties"
    become: yes

  - name: "Create and copy dm-jobs server.properties file"
    template: src=dmjobs_server_properties.j2 dest="/mnt/genomespace/SRC/combined/dm-jobs-properties/src/main/resources/server.properties"
    become: yes


...
