---
  #Ansible script to configure GenomeSpace
  #Assumes GenomeSpace code is copied & unzipped, ~/genomespace/gensecret key files exist
  #
  # Author: Madison Flannery


  #Change all URLs in the GenomeSpace code & associated files
  #Get the list of files to change, exclude any .class files
  - name: "Get list of files which require URL to be changed"
    find: paths="{{ gs_src_directory }}" recurse=yes contains=".*put-url-here.*" pattern=".*\.(?!class)" use_regex=True
    register: gsfiles

  #Insert correct URLs in placeholder spots
  - name: "Replace placeholder with correct URLs"
    replace: dest={{ item.path }} regexp="put-url-here" replace="{{ gs_url }}"
    with_items: "{{ gsfiles.files }}" #files list
    become: yes

  #Configure SSL certificate
  #Copy keystore across
  - name: "Copy SSL keystore to remote machine"
    copy: src="files/{{ ssl_keystore_name }}" dest="{{ gs_directory }}" owner=ubuntu mode=0600
    become: yes

  #Copy keystore across
  - name: "Copy SSL keystore to remote machine"
    copy: src="files/{{ ssl_keystore_name }}" dest="{{ tomcat_conf }}" owner=ubuntu mode=0600
    become: yes

  #Copy SSL certificate across
  - name: "Copy SSL certificate to remote machine"
    copy: src="files/{{ ssl_cert_filename }}" dest="{{ gs_directory }}" owner=ubuntu mode=0600
    become: yes

  #Delete existing cert in keystore - this ensures next step will not fail if script run multiple times
  #ignore_errors is set as this will throw error if certificate doesn't exist in java keystore
  - name: "Delete existing SSL certificate from Java keystore"
    command: keytool -delete -alias tomcat -keystore $JAVA_HOME/jre/lib/security/cacerts -storepass changeit
    become: yes
    environment: "{{ gs_env }}"
    ignore_errors: yes

  #Import SSL certificate into Java keystore
  - name: "Import SSL certificate into Java keystore"
    command: keytool -import -alias tomcat -file {{ gs_directory }}/tomcat.cer -storepass changeit -keystore $JAVA_HOME/jre/lib/security/cacerts -noprompt
    become: yes
    environment: "{{ gs_env }}"

  #Generate genomespace secret key
  #Resulting file will be located in home directory
  - name: "Generate GenomeSpace secret key file"
    shell: /home/ubuntu/genomespace/gensecretkey/gengssecretkey.sh
    args:
      creates: genomespace-secret.key
    environment: "{{ gs_env }}"

  - name: "Move to GenomeSpace secret key file to correct place"
    command: mv /home/ubuntu/genomespace-secret.key /home/ubuntu/genomespace/

  #Create and copy tomcat server.xml config file
  - name: "Copy tomcat-server.xml file to remote machine"
    template: src=server.xml.j2 dest="{{ tomcat_conf }}/server.xml"
    become: yes

  #Copy catalina.properties config file
  - name: "Copy catalina.properties file to remote machine"
    copy: src=files/catalina.properties dest="{{ tomcat_conf }}/catalina.properties" owner=tomcat7
    become: yes

  #Copy catalina.properties config file
  - name: "Copy tomcat7 config file to remote machine"
    copy: src=files/tomcat7 dest="/etc/default/tomcat7" owner=tomcat7
    become: yes

  #Create and copy tomcat-users.xml config file
  - name: "Create and copy tomcat users file"
    template: src=tomcat-users.xml.j2 dest="{{ tomcat_conf }}/tomcat-users.xml"
    become: yes

  #Create and copy environment properties file
  - name: "Create and copy environment properties file to remote machine"
    template: src=env-dev.properties.j2 dest="{{ gs_directory }}/env-dev.properties"
    become: yes

  - name: "Ensure tomcat files have correct owner"
    command: "chown -R tomcat7:tomcat7 {{ tomcat_home }}"

  - name: "Ensure tomcat files have correct owner"
    command: "chown -R tomcat7:tomcat7 {{ catalina_home }}"

  #Set AWS Credentials in genomespace-aws.properties file
  - name: "Create and copy the AWS credentials file"
    template: src=genomespace-aws-properties.j2 dest="/home/ubuntu/genomespace/genomespace-aws.properties"

  #Set Dropbox Credentials in genomespace-aws.properties file
  - name: "Create and copy the Dropbox credentials file"
    template: src=genomespace-aws-properties.j2 dest="/home/ubuntu/genomespace/genomespace-dropbox.properties"
  #
  # #Set AWS Credentials, Dropbox credentials in dm-webservice server.properties file
  # - name: "Create and copy dm-webservice server.properties file"
  #   template: src=dmwebservice_server_properties.j2 dest="{{ gs_directory }}/SRC/combined/dm-webservice-properties/src/main/resources/server.properties"
  #   become: yes

  # #Set ANDS in dm-webservice server.properties file
  # #TODO: Remove credentials from source code
  # - name: "Create and copy ANDS java class file"
  #   template: src=ANDSpublisher.java.j2 dest="{{ gs_src_directory }}/dm-core/src/main/java/org/genomespace/datamanager/doi/ANDSPublisher.java"
  #   become: yes
  #   when: add_ands

...
