---
    #Ansible script contaning tasks for installing GenomeSpace dependencies
    #
    # Author: Madison Flannery

    #Sudo apt-get update before any packages are installed
    - name: "sudo apt-get update"
      apt: update_cache=yes
      become: yes

    #Check if Java is already installed
    - name: "Check if Java is insalled"
      stat: path=/usr/lib/jvm/java-8-oracle
      register: java_dir

    #If Java not installed, print debug message
    - debug: msg="Java has not been installed"
      when: java_dir.stat.isdir is not defined or not java_dir.stat.isdir

    #Install Java from oracle website, make directory in correct place and unzip
    #Extra options in wget to avoid failure due to license agreement
    #Only complete if Java has not been previously installed
    - name: "Download Java"
      command: "wget --no-check-certificate --no-cookies --header \"Cookie: oraclelicense=accept-securebackup-cookie\" http://download.oracle.com/otn-pub/java/jdk/8u74-b02/jdk-8u74-linux-x64.tar.gz -O java-8-oracle.tar.gz"
      when: java_dir.stat.isdir is not defined or not java_dir.stat.isdir
      become: yes

    #Make directory for Java installation
    #Only complete if Java has not been previously installed
    - name: "Make Java directory"
      file: path=/usr/lib/jvm/ state=directory mode=0755
      when: java_dir.stat.isdir is not defined or not java_dir.stat.isdir
      become: yes

    #Unarchive the Java .tar.gz downloaded file
    #Only complete if Java has not been previously installed
    - name: "Unpack downloaded Java file"
      unarchive: src=/home/ubuntu/java-8-oracle.tar.gz dest=/usr/lib/jvm/ copy=no
      become: yes
      when: java_dir.stat.isdir is not defined or not java_dir.stat.isdir

    #Move unarchived Java contents and remove lower level folder
    #Only complete if Java has not been previously installed
    - name: "Clean up Java directory structure"
      command: mv /usr/lib/jvm/jdk1.8.0_74 /usr/lib/jvm/java-8-oracle
      become: yes
      when: java_dir.stat.isdir is not defined or not java_dir.stat.isdir

    #Install maven & mercurial & tomcat7 (& lxde & vim)
    - name: "Install Maven, Mercurial and Tomcat7"
      apt: pkg={{ item }} state=installed
      with_items:
          - maven
          - mercurial
          - vim
          - lxde
          - tomcat7
          - tomcat7-admin
      become: yes

    #Set environment variables - 4 files /.bashrc /.profile for ubuntu and root.
    #NOTE: This only exists for debugging purposes/logging in purposes - ansible env used everywhere else
    - name: "Setting environment variables"
      become: yes
      lineinfile: dest={{ item[0] }} line={{ item[1] }} state=present
      with_nested:
        - ["/home/ubuntu/.bashrc", "/home/ubuntu/.profile", "/root/.bashrc", "/root/.profile"]
        - ["export JAVA_HOME=/usr/lib/jvm/java-8-oracle",
           "export TOMCAT_HOME=/var/lib/tomcat7/",
           "export JAVA_OPTS=\"-Djava.net.preferIPv4Stack=true -Djava.net.preferIPv4Addresses\"",
           "export CATALINA_HOME=/usr/share/tomcat7",
           "export CATALINA_BASE=/var/lib/tomcat7",
           "export PATH=$JAVA_HOME/bin:$PATH"]

    #Set environment variables - source bashrc
    - name: "Source ~/.bashrc"
      shell: source /home/ubuntu/.bashrc
      args:
        executable: /bin/bash

    #Install ActiveMQ (For ehcache)
    - name: "Download ActiveMQ"
      get_url: url="http://archive.apache.org/dist/activemq/apache-activemq/5.9.0/apache-activemq-5.9.0-bin.tar.gz"

    #Make directory for ActiveMQ installation
    #Only complete if Java has not been previously installed
    - name: "Make ActiveMQ directory"
      file: path="{{ gs_directory }}/activeMQ" state=directory mode=0755
      become: yes

    #Unpack ActiveMQ file
    - name: "Unpack ActiveMQ tarball"
      unarchive: src=apache-activemq-5.9.0-bin.tar.gz dest="{{ gs_directory }}"

    - name: "Move ActiveMQ to the right place"
      command: "mv apache-activemq-5.9.0 activeMQ/"
...
