---
  # copy genome space code & unzip from backup

  #check if GenomeSpace already installed
  - stat: path=/mnt/genomespace/SRC
    register: genomespace_src_dir

  - debug: msg="GenomeSpace has not been installed"
    when: genomespace_src_dir.stat.isdir is not defined or not genomespace_src_dir.stat.isdir

  - name: "Download GenomeSpace"
    get_url: url={{ gs_download_link }} dest="/mnt/genomespace-backup-madi-040216.tar.gz"
    when: genomespace_src_dir.stat.isdir is not defined or not genomespace_src_dir.stat.isdir
    become: yes

  # Unarchive a file that is already on the remote machine
  - name: "Unpack GenomeSpace"
    unarchive: src=/mnt/genomespace-backup-madi-040216.tar.gz dest=/mnt/ copy=no
    become: yes
    when: genomespace_src_dir.stat.isdir is not defined or not genomespace_src_dir.stat.isdir

  #move file contents and remove lower level folder
  - name: "Clean up"
    command: mv /mnt/genomespace-backup-madi-040216 /mnt/genomespace
    become: yes
    when: genomespace_src_dir.stat.isdir is not defined or not genomespace_src_dir.stat.isdir

  #create genomespace home directory
  - name: "Create genomespace home directory"
    file: path=~/genomespace/gensecretkey state=directory mode=0755

  #copy gensecretkey files
  - copy: src=files/gengssecretkey.sh dest=/home/ubuntu/genomespace/gensecretkey/ mode=0755

  - copy: src=files/secretkeygenerator-0.0.1-SNAPSHOT.jar dest=~/genomespace/gensecretkey/ owner=ubuntu

...
